{{ if .Site.Params.giscus.enable }}
<script src="https://giscus.app/client.js"
        data-repo="ppasszzw311/mak-blog"
        data-repo-id="R_kgDOOgX7Vw"
        data-category="Announcements"
        data-category-id="DIC_kwDOOgX7V84CphRp"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-TW"
        crossorigin="anonymous"
        async>
</script>
{{ end }} 